* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0 auto;
}

/* Cabeçalho */
.senai {
    width: 300px;
    height: 84px;
}
.btn{
    background-color: #BB4848;
    margin: 0 15px;
    color: white;
    font-size: 1em;
    width: 130px;
    height: 54px;
    padding-top: 0px;
    border-radius: 19px 19px 19px 19px;
    border-color: #BB4848;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
}
.btn:hover {
    background-color: #F47D7D;
    border-color: #F47D7D;
}
/* Fim do cabeçalho */

/* Início do rodapé */
.logo2 {
    width: 324px;
    height: 84px;
}
.fim {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 4px;   
}
/* Fim do rodapé */


/* Configurações específicas dos textos */
ol p {
    margin: 15px;
    /* margin-bottom: 30px; */
    text-align: center;
}
ul p {
    margin: 15px;
    /* margin-bottom: 30px; */
    text-align: center;
}
p span {
    font-weight: bold;
    font-size: 18px;
}
.italico {
    font-style: italic;
}

/* Configurações de imagens e vídeos */
.imagem-media {
    height: 150px;
    width: 150px;
}
.imagem-5g {
    height: 150px;
    width: 180px;
}
.gif1 {
    height: 500px;
    width: 1200px;
    text-align: center;
}