* {
    font-family: Arial, Helvetica, sans-serif;
}
.senai {
    width: 300px;
    height: 84px;
}
.btn{
    background-color: #BB4848;
    margin: 0 15px;
    color: white;
    font-size: 1em;
    width: 130px;
    height: 54px;
    padding-top: 0px;
    border-radius: 19px 19px 19px 19px;
    border-color: #BB4848;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
}
.btn:hover {
    background-color: #F47D7D;
    border-color: #F47D7D;
}
h1 {
    color: black;
    letter-spacing: 6px;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}
h2 {
    font-size: 3em;
    letter-spacing: 6px;
}
h3 {
    font-weight: bold;
    letter-spacing: 3px;
}
.data {
    letter-spacing: 3px;
}
.logo2 {
    width: 324px;
    height: 84px;
}
.fim {
    color: white;
    letter-spacing: 4px;   
}
.lista {
    display: flex;
    align-items: center;
}
.lista p {
    font-size: 1.5em;
}
.cidade {
    background-image: url(../img/cidade_linda.jpg);
    background-size: cover;
    background-position: center;
}
h4 {
    font-size: 1.6em;
}